<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-y">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <article class="banner-wrap">
          <img src="../../../assets/images/2.jpg" height="320" width="100%"/>
        </article>
      </div> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
  <div class="container">

    <header class="section-heading">
      <button type="submit" class="btn btn-outline-primary float-right">Xem thêm</button>
      <h3 class="section-title">Sản phẩm phổ biến</h3>
    </header><!-- sect-heading -->
    <div class="row">
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"> <img src="../../../assets/images/items/yoosee-3.jpg"/> </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Camera IP Hồng Ngoại Không Dây 3.0 Megapixel YOOSEE 316S</a>
            <div class="price mt-1">800,000 đ</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"><img
            src="../../../assets/images/items/vantech-4.jpg" />
          </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Camera IP Robot hồng ngoại VT-6300C</a>
            <div class="price mt-1">1,700,000 đ</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"><img
            src="../../../assets/images/items/yoosee-2.jpg"/>
          </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Camera IP hồng ngoại không dây YOOSEE C-QR61S1</a>
            <div class="price mt-1">840,000 đ</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"><img
            src="../../../assets/images/items/vantech-1.jpg"/>
          </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Camera IP HD không dây hồng ngoại YOOSEE HX-S4-200</a>
            <div class="price mt-1">780,000 đ</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"><img
            src="../../../assets/images/items/vantech-6.jpg"/>
          </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Camera IP Robot hồng ngoại VP-6600C</a>
            <div class="price mt-1">950,000 đ</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"><img src="../../../assets/images/items/kbvision-5.jpg"/></a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Camera IP hồng ngoại không dây KBVISION KX-D4002WAN</a>
            <div class="price mt-1">2,500,000 đ</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"><img
            src="../../../assets/images/items/kbvision-3.jpg"/>
          </a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Camera IP hồng ngoại không dây KBVISION KBONE KN-H22PW</a>
            <div class="price mt-1">1,650,000 đ</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
      <div class="col-md-3">
        <div href="#" class="card card-product-grid">
          <a href="#" class="img-wrap"><img src="../../../assets/images/items/vantech-6.jpg"/></a>
          <figcaption class="info-wrap">
            <a href="#" class="title">Camera HD-TVI hồng ngoại HIKVISION DS-2CE16C0T-IT3</a>
            <div class="price mt-1">520,000 đ</div> <!-- price-wrap.// -->
          </figcaption>
        </div>
      </div> <!-- col.// -->
    </div> <!-- row.// -->

  </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->
