<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-y">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <article class="banner-wrap">
          <img src="../../../assets/images/2.jpg" height="320" width="100%"/>
        </article>
      </div> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
  <div class="container">

    <header class="section-heading">
      <h3 class="section-title">Sản phẩm phổ biến</h3>
    </header>
    <div class="row">
      <div class="col-md-3" *ngFor="let item of productViewInfo">
        <div [routerLink]="['/product/detail/',item.idProduct]" class="card card-product-grid">
          <a [routerLink]="['/product/detail/',item.idProduct]" class="img-wrap">
            <img *ngIf="item.url == ''" src="https://firebasestorage.googleapis.com/v0/b/sprint2-afb08.appspot.com/o/cameraiphongngoai5mphuvironfnp525aip.png?alt=media&token=4df6176c-93eb-4644-832f-4f2e36bf511f" alt="">
            <img *ngIf="item.url != ''" [src]="item.url" alt="">
          </a>
          <figcaption class="info-wrap">
            <a [routerLink]="['/product/detail/',item.idProduct]" class="title">{{item.nameProduct}}</a>
            <div class="price mt-1">{{item.price | number}} đ</div>
          </figcaption>
        </div>
      </div>
    </div>
    <footer class="section-footer">
      <div style="min-height: 60px">
        <div *ngIf="productViewInfo.length != 0; else elseBlockPagination">
          <div *ngIf="productViewList" class="d-flex justify-content-center" id="last-row">
            <div>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item" [ngClass]="productViewList.first ? 'disabled': ''">
                    <a role="button" class="page-link" (click)="changePage(0)">Trang đầu</a>
                  </li>
                  <li class="page-item" [ngClass]="productViewList.first ? 'disabled': ''">
                    <a role="button" class="page-link" (click)="changePage(productViewList.number - 1)"><</a>
                  </li>
                  <li class="page-item" *ngIf="productViewList.number - 3 > 0">
                    <a role="button" class="page-link"
                       (click)="changePage(productViewList.number - 4)">{{productViewList.number - 3}}</a>
                  </li>
                  <li class="page-item" *ngIf="productViewList.number - 2 > 0">
                    <a role="button" class="page-link"
                       (click)="changePage(productViewList.number - 3)">{{productViewList.number - 2}}</a>
                  </li>
                  <li class="page-item" *ngIf="productViewList.number - 1 > 0">
                    <a role="button" class="page-link"
                       (click)="changePage(productViewList.number - 2)">{{productViewList.number - 1}}</a>
                  </li>
                  <li class="page-item" *ngIf="productViewList.number > 0">
                    <a role="button" class="page-link"
                       (click)="changePage(productViewList.number - 1)">{{productViewList.number}}</a>
                  </li>
                  <li class="page-item active"><a class="page-link">{{productViewList.number + 1}}</a></li>
                  <li class="page-item" *ngIf="productViewList.number + 2 <= productViewList.totalPages">
                    <a role="button" class="page-link"
                       (click)="changePage(productViewList.number + 1)">{{productViewList.number + 2}}</a>
                  </li>
                  <li class="page-item" *ngIf="productViewList.number + 3 <= productViewList.totalPages">
                    <a role="button" class="page-link"
                       (click)="changePage(productViewList.number + 2)">{{productViewList.number + 3}}</a>
                  </li>
                  <li class="page-item" *ngIf="productViewList.number + 4 <= productViewList.totalPages">
                    <a role="button" class="page-link"
                       (click)="changePage(productViewList.number + 3)">{{productViewList.number + 4}}</a>
                  </li>
                  <li class="page-item" *ngIf="productViewList.number + 5 <= productViewList.totalPages">
                    <a role="button" class="page-link"
                       (click)="changePage(productViewList.number + 4)">{{productViewList.number + 5}}</a>
                  </li>
                  <li class="page-item" [ngClass]="productViewList.last ? 'disabled': ''">
                    <a role="button" class="page-link"
                       (click)="changePage(productViewList.number + 1)">></a>
                  </li>
                  <li class="page-item" [ngClass]="productViewList.last ? 'disabled': ''">
                    <a role="button" class="page-link"
                       (click)="changePage(productViewList.totalPages - 1)">
                      Trang cuối
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <ng-template #elseBlockPagination style="color: red">Không có dữ liệu</ng-template>
      </div>
    </footer>
    <br>
  </div>
</section>
<!-- ========================= SECTION  END// ========================= -->

