<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg">
  <div class="container">
    <section class="footer-top  padding-y">
      <div class="row">
        <aside class="col-md col-6">
          <h6 class="title">Hãng sản xuất</h6>
          <ul class="list-unstyled">
            <li> <a href="#">Hikvision</a></li>
            <li> <a href="#">Kbvision</a></li>
            <li> <a href="#">Vantech</a></li>
            <li> <a href="#">Yoosee</a></li>
          </ul>
        </aside>
        <aside class="col-md col-6">
          <h6 class="title">Về chúng tôi</h6>
          <span>Lấy sự an tâm và hài lòng
                        của khách hàng là kim chỉ nam
                        hoạt động, chúng tôi cam kết sẽ
                        mang đến những sản phẩm, dịch vụ
                        và trải nghiệm tốt nhất để làm
                        hài lòng quý khách.</span>
        </aside>
        <aside class="col-md col-6">
          <h6 class="title">Trợ giúp</h6>
          <ul class="list-unstyled">
            <li> <a href="#">Liên hệ chúng tôi</a></li>
            <li> <a href="#">Hoàn tiền</a></li>
            <li> <a href="#">Trạng thái đơn hàng</a></li>
            <li> <a href="#">Thông tin giao hàng</a></li>
          </ul>
        </aside>
        <aside class="col-md col-6">
          <h6 class="title">Tài khoản</h6>
          <ul class="list-unstyled">
            <li> <a href="#"> Đăng nhập </a></li>
            <li> <a href="#"> Đăng ký thành viên </a></li>
            <li> <a href="#"> Cài đặt tài khoản </a></li>
            <li> <a href="#"> Đơn hàng của tôi </a></li>
          </ul>
        </aside>
        <aside class="col-md">
          <h6 class="title">Mạng xã hội</h6>
          <ul class="list-unstyled">
            <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
            <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
            <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
            <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
          </ul>
        </aside>
      </div> <!-- row.// -->
    </section>	<!-- footer-top.// -->

    <section class="footer-bottom row">
      <div class="col-md-2">
        <p class="text-muted">  &copy; 2023 Design By PhuongLTH </p>
      </div>
      <div class="col-md-8 text-md-center">
        <span  class="px-2">letahaphuong@gmail.com</span>
        <span  class="px-2">+84-964-80 81 85</span>
        <span  class="px-2">Duy xuyên - Quảng Nam - Việt Nam</span>
      </div>
      <div class="col-md-2 text-md-right text-muted">
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
    </section>
  </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
