
<div class="modal fade" id="deleteCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khỏi giỏ hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa sản phẩm này ra khỏi giỏ hàng không?</p>
        <label>Tên: </label>
        <span style="color: red">&nbsp;&nbsp;{{cartView?.nameProduct}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở lại</button>
        <button (click)="delete()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Xóa</button>
      </div>
    </div>
  </div>
</div>
