<div class="container px-3 my-5 clearfix">
  <!-- Shopping cart table -->
  <div class="card">
    <div class="card-header">
      <h2 class="fw-bold">Giỏ hàng</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered m-0">
          <thead>
          <tr>
            <!-- Set columns width -->
            <th class="text-center py-3 px-4" style="min-width: 400px;">Tên sản phẩm và thông tin chi tiết</th>
            <th class="text-right py-3 px-4" style="width: 100px;">Đơn giá</th>
            <th class="text-center py-3 px-4" style="width: 120px;">Số lượng</th>
            <th class="text-center py-3 px-4" style="width: 120px;">Thành tiền</th>
            <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#"
                                                                                   class="shop-tooltip float-none text-light"
                                                                                   title=""
                                                                                   data-original-title="Clear cart"><i
              class="ino ion-md-trash"></i></a></th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td class="p-4">
              <div class="media align-items-center">
                <img src="../../../assets/images/items/yoosee-3.jpg"
                     class="d-block ui-w-40 ui-bordered mr-4" alt=""/>
                <div class="media-body">
                  <a href="#" class="d-block text-dark">Camera IP Hồng Ngoại Không Dây 3.0 Megapixel YOOSEE 316S</a>
                  <small>
                    <span class="text-muted">Size: </span> EU 37 &nbsp;
                    <span class="text-muted">Ships from: </span> China
                  </small>
                </div>
              </div>
            </td>
            <td class="text-right font-weight-semibold align-middle p-4">800,000</td>
            <td class="align-middle p-4"><input type="text" class="form-control text-center" value="2"></td>
            <td class="text-right font-weight-semibold align-middle p-4">1,600,000</td>
            <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger"
                                                         title="" data-original-title="Remove">×</a></td>
          </tr>

          <tr>
            <td class="p-4">
              <div class="media align-items-center">
                <img
                  src="../../../assets/images/items/vantech-1.jpg" class="d-block ui-w-40 ui-bordered mr-4" alt=""/>
                <div class="media-body">
                  <a href="#" class="d-block text-dark">Camera IP Robot hồng ngoại VT-6300C</a>
                  <small>
                    <span class="text-muted">Storage: </span> 32GB &nbsp;
                    <span class="text-muted">Warranty: </span> Standard - 1 year &nbsp;
                    <span class="text-muted">Ships from: </span> China
                  </small>
                </div>
              </div>
            </td>
            <td class="text-right font-weight-semibold align-middle p-4">1,700,000</td>
            <td class="align-middle p-4"><input type="text" class="form-control text-center" value="1"></td>
            <td class="text-right font-weight-semibold align-middle p-4">1,700,000</td>
            <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger"
                                                         title="" data-original-title="Remove">×</a></td>
          </tr>

          <tr>
            <td class="p-4">
              <div class="media align-items-center">
                <img src="../../../assets/images/items/yoosee-3.jpg" class="d-block ui-w-40 ui-bordered mr-4" alt=""/>
                <div class="media-body">
                  <a href="#" class="d-block text-dark">Camera IP Robot hồng ngoại VT-6300C</a>
                  <small>
                    <span class="text-muted">Ships from: </span> Germany
                  </small>
                </div>
              </div>
            </td>
            <td class="text-right font-weight-semibold align-middle p-4">840,000</td>
            <td class="align-middle p-4"><input type="text" class="form-control text-center" value="1"></td>
            <td class="text-right font-weight-semibold align-middle p-4">840,000</td>
            <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger"
                                                         title="" data-original-title="Remove">×</a></td>
          </tr>

          </tbody>
        </table>
      </div>
      <!-- / Shopping cart table -->

      <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
        <div class="mt-4">
        </div>
        <div class="d-flex">
          <div class="text-right mt-4 mr-5">
            <label class="text-muted font-weight-normal m-0">Giảm giá</label>
            <div class="text-large"><strong>140,000</strong></div>
          </div>
          <div class="text-right mt-4">
            <label class="text-muted font-weight-normal m-0">Tổng tiền</label>
            <div class="text-large"><strong>4,000,000</strong></div>
          </div>
        </div>
      </div>

      <div class="float-right">
        <button type="button" class="btn btn-lg btn-light mt-2 mr-3" routerLink="">Trở lại cửa hàng</button>
        <button type="button" class="btn btn-lg btn-primary mt-2" routerLink="/security/payment">Thanh toán</button>
      </div>

    </div>
  </div>
</div>
