<!-- This script got from frontendfreecode.com -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<div class="row">
  <div class="col-lg-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
          <!-- Credit card form tabs -->
          <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
            <li class="nav-item">
              <span data-toggle="pill" class="h3"> <i
                class="fas fa-shipping-fast mr-2 "></i> Thông Tin Giao Hàng </span>
            </li>
          </ul>
        </div>
        <!-- End -->
        <!-- Credit card form content -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <form role="form" [formGroup]="ordersForm" (ngSubmit)="ordersInfo()">
  <div class="col-lg-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
          <!-- Credit card form tabs -->
          <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
            <li class="nav-item">
              <a data-toggle="pill" href="#cod" class="nav-link active"> <i
                class="fas fa-shipping-fast mr-2"></i> Thanh toán COD </a>
            </li>
            <li class="nav-item">
              <a data-toggle="pill" href="#paypal"  class="nav-link "> <i class="fab fa-paypal mr-2"></i> Paypal </a>
            </li>
            <li class="nav-item">
              <a data-toggle="pill" href="#net-banking" class="nav-link "> <i class="fas fa-mobile-alt mr-2"></i> Ngân
                hàng nội địa </a>
            </li>
          </ul>
        </div>
        <!-- End -->

      </div>
      <div class="row ms-2 me-2">
        <div class="tab-content">
          <!-- cOD-->
          <div id="cod" class="tab-pane fade pt-3">
            <p>
              <button type="submit" class="btn btn-primary"><i class="fas fa-mobile-alt mr-2"></i> Đặt hàng
              </button>
            </p>
          </div>
          <!-- End -->
          <!-- Paypal info -->
          <div id="paypal" class="tab-pane fade pt-3">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div id="myPaypalButtons"></div>
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="tab-content">
              <!-- credit card info-->
            </div>
          </div>


          <!-- End -->
          <!-- bank transfer info -->
          <div id="net-banking" class="tab-pane fade pt-3">
            <div class="form-group">
              <label for="selectYourBank">
                <h6>Chọn ngân hàng</h6>
              </label>
              <select id="selectYourBank" class="form-control" id="ccmonth">
                <option value="" selected disabled>--Chọn ngân hàng--</option>
                <option>VietcomBank</option>
                <option>VietinBank</option>
                <option>TPBank</option>
                <option>VietBank</option>
                <option>Agribank</option>
                <option>MB</option>
                <option>BIDV</option>
              </select>
            </div>
            <div class="form-group">
              <div class="tab-content">
                <!-- credit card info-->
              </div>

              <p>
                <button type="submit" class="btn btn-primary"><i class="fas fa-mobile-alt mr-2"></i> Tiến hành thanh toán
                </button>
              </p>
            </div>
          </div>
          <!-- End -->
          <!-- End -->
        </div>
        <div class="tab-pane fade show active pt-3">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="name1">
                  <h6>Tên người nhận hàng</h6>
                </label>
                <input type="text" id="name1" formControlName="name"  placeholder="Tên người nhận hàng" required
                       class="form-control"/>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="phone1">
                  <h6>Số điện thoại nhận hàng</h6>
                </label>
                <input type="text" id="phone1" formControlName="phone" placeholder="Số điện thoại nhận hàng" required
                       class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="addressShip1">
                <h6>Địa chỉ nhận hàng</h6>
              </label>
              <div class="input-group">
                <input id="addressShip1" type="text" formControlName="address" placeholder="Địa chỉ nhận hàng"
                       class="form-control" required/>
              </div>
            </div>

          </div>
          <div class="row">
            <p class="text-muted">
              Lưu ý: Sau khi nhấp vào nút, đơn hàng của bạn sẽ được cửa hàng tiếp nhận. Nhân
              viên sẽ liện hệ cho bạn sau khi nhận thông tin để xác nhận đơn hàng. Cảm ơn bạn đã đồng hành và tin tưởng chúng tôi.</p>
          </div>
          <div class="card-footer">
          </div>
        </div>

      </div>
    </div>
  </div>
  </form>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
