<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->

<div class="container">
  <div class="row">
    <div class="container d-flex justify-content-between">
      <div class="col-xs-5 item-photo me-5">
        <img [src]="productDetail?.url" style="max-width:100%;width: 675px; height: 540px"/>
      </div>
      <div class="col-xs-6 justify-content-between" style="border:0px">
        <br>
        <br>
        <h3>{{productDetail?.nameProduct}}</h3>
        <h5 style="color:#337ab7">Hãng sản xuất <a href="#">{{productDetail?.nameCategory}}</a></h5>
        <h5 class=""><span>Giá:</span></h5>
        <span class="title-text">{{productDetail?.price | number}} đ</span>

        <div class="section">
          <h6 class="title-attr" style="margin-top:15px;"><span>Độ phân giải : <span
            class="title-attr">{{productDetail?.resolution}}.</span></span></h6>
          <h6 class="title-attr" style="margin-top:15px;"><span>Tốc độ ghi hình : <span
            class="title-attr">{{productDetail?.speedRecord}}.</span></span></h6>
          <h6 class="title-attr" style="margin-top:15px;"><span style="color: blue">Tư vấn mua hàng :</span> <span
            class="title-attr">0964 80 81 85</span></h6>
        </div>
        <div class="section" style="padding-bottom:20px;">
          <h6 class="title-attr"><span>Số lượng</span></h6>
          <div>
            <div style="height: 27px" class="btn btn-minus"(click)="minus()"><p >-</p></div>
            <input  style="height: 27px" [value]="quantityShow" style="width: 40px"/>
            <div style="height: 27px" class="btn btn-plus" (click)="plus()"><p>+</p></div>
          </div>
        </div>

        <div class="section" style="padding-bottom:20px;">
          <button class="btn btn-success" style="border-radius: 10px" [routerLink]="['/product/cart/',productDetail?.idProduct]">
            <span style="margin-right:20px" class=" glyphicon glyphicon-shopping-cart"
                  aria-hidden="true"></span>Thêm vào giỏ hàng
          </button>
        </div>
        <div>
          <h1>Lượt đánh giá</h1>
          <div *ngIf="showRatingValue">
            Tỉ lệ : {{ ratingValue }} / 10
          </div>


          <span class="rating-bar" (mouseleave)="reset()">
        <span class="fa fa-star"
        [class.active]="item.active"
        *ngFor="let item of ratingUnits; index as i"
        (click)="select(i)" (mouseenter)="enter(i)">
        </span>
</span>
        </div>
      </div>
      <div class="col-xs-1"></div>
    </div>

    <div class="container">

      <div class="col-xs-12">
        <ul class="menu-items">
          <li class="active1">Chi tiết sản phẩm</li>
        </ul>
        <div style="width:100%;border-top:1px solid silver">
          <p style="padding:15px;">
          <span>
            {{productDetail?.description}}
          </span>
          </p>
          <span>
          <ul>
            <li>Cảm biến hình ảnh: {{productDetail?.imageSensor}}.</li>
            <li>Độ phân giải: {{productDetail?.resolution}}.</li>
            <li>Chất liệu: {{productDetail?.material}}.</li>
            <li>Cảm biến hình ảnh: {{productDetail?.imageSensor}}.</li>
            <li>Bộ nhớ: {{productDetail?.memory}}.</li>
            <li>Tốc độ ghi hình: {{productDetail?.speedRecord}}</li>
            <li>Công nghệ tự động cân bằng ánh sáng: {{productDetail?.autoWhiteBalanceFunction}}.</li>
            <li>Tầm quan sát: {{productDetail?.infraredVision}}</li>
            <li>Ngày tạo: {{productDetail?.createDateProduct}}</li>

          </ul>
        </span>
        </div>
      </div>
    </div>
  </div>
</div>

