<div class="container">
  <div class="col-xs-12">
    <br>
    <br>
    <ul class="menu-items">
      <li class="active1 h3">Giới thiệu</li>
    </ul>
    <div style="width:100%;border-top:1px solid silver">
      <div class="container">
        <p style="padding:15px;">
          <span>
            Camera giám sát uy tín và chất lượng nhất trên thị trường, với nhu cầu và mục đích lắp đặt camera
            giám sát khác nhau sẽ có những hệ thống camera được tối ưu dựa trên yêu cầu của quý khách hàng với
            sự hỗ trợ, tư vấn của đội ngũ kỹ thuật giàu kinh nghiệm để có được hệ thống hoàn hảo nhất từ chất
            lượng hệ thống, yêu cầu, mục đích sử dụng đến giá thành tốt nhất.
            Nổi bật trên thị trường hiện nay là dòng sản phẩm camera giám sát Vantech và camera giám sát Questek
            của Đài Loan, ngoài ra còn có thương hiệu HIKVISION, Dahua Thương hiệu tốt của Trung Quốc, KBVISION
            Thương hiệu Mỹ xuất sứ từ Trung Quốc, Đài Loan và Mỹ, VDtech camera giám sát Hàng Việt Nam Chất lượng
            cao. Công ty TNHH Kiểm Soát An Ninh Vitech là một trong những đơn vị tiên phong về dịch vụ lắp đặt camera
            quan sát tại TPHCM với giá rẻ nhất thị trường và chất lượng cam kết uy tín, bảo hành tận nhà sau khi lắp đặt.
          </span>
        </p>
        <span>
          <p>- Lắp đặt camera quan sát giá rẻ tại TPHCM.</p>

      <p>- Lắp đăt hệ thống báo động tại TPHCM.</p>

      <p>- Lắp Đặt hệ thống báo cháy tại tphcm.</p>

      <p>- Lắp đặt máy chấm công tại tphcm.</p>

    <div class="container">
      Những thương hiệu camera quan sát tại tphcm mà Công ty TNHH Kiểm Soát An Ninh Vitech sử dụng đều có nhà máy và văn phòng đại diện tại tphcm chính vì vây. dịch vụ chăm sóc khách hàng đảm bảo tốt. giá thành thấp.

Ưu điểm lắp đặt camera TPHCM lựa chọn Công ty TNHH Kiểm Soát An Ninh Vitech là: sản phẩm sử dụng chính hãng, dịch vụ bảo hành được đảm bảo.

Đến với chúng tôi quý khách hàng yên tâm về chất lượng và hậu mãi thật chu đáo. sản phẩm của cúng tôi lắp đặt luôn cam kết đúng chất lượng, đáp ứng yêu cầu của quý khách. quý khách hàng sẽ hài lòng với những gì quý khách hàng đang mong đợi với giá thành của hệ thống hợp lý nhất.

Hệ thống camera giám sát mọi lúc mọi nơi vì hệ thống sẽ giúp bạn giám sát từ xa thông qua mạng internet và 3g, dù bạn bất kỳ ở đâu chỉ cần có mạng đọc báo được là bạn có thể giám sát gia đinh, nhà, con cái và cửa hàng của mình.

Đối với gia đình chúng ta luôn có những bộ camera giám sát phù hợp nhất với giá thành tương đối thấp và hiệu quả mạng lại rất cao, độ phân giải đạt chuẩn HD hình ảnh rõ net đặt biệt là camera giám sát có tuổi thọ cao nhằm đáp ứng sử dụng lâu dài cho gia đình

Những cam kết khi làm dịch vụ của CÔNG TY TNHH KIỂM SOÁT AN NINH VITECH:
    </div>

<p>- Đội ngũ kỹ thuật đông đảo,nhiệt tình, có trách nhiệm cao, được đào tạo chuyên nghiệp .</p>

<p>- Tư vấn chính xác đúng nhu cầu và mục đích không phát sinh chi phí.</p>
<p>- Bảo hành lỗi sau khi sữa chữa 1 tháng.</p>

<p>- Có mặt ngay trong vòng 20 phút.</p>

<p>- Cam kết tất cả các sản phẩm bán ra đều là sản phẩm chính hãng mới 100%.</p>

<p>- Chi phí sửa chữa với giá rẻ nhất.</p>

<p>- Hoàn Tiền 100% nếu bạn không hài lòng về dịch vụ.</p>
        </span>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
